.crx_calendar,
.crx_calendar * {
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 1.4em;
}

.crx_calendar #logo {
  float: left;
}

.crx_calendar #calendar_ui_url {
  outline: none;
}

.crx_calendar .tabstrip {
  float: right;
  cursor: default;
}

.crx_calendar .tabstrip h1 {
  font-size: 10pt;
  font-weight: normal;
  padding: 3px 8px;

  border: 1px solid #939393;

  display: inline;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#eee), to(#fff));
  max-width: 100px;
}

.crx_calendar .tabstrip_sel {
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#777), to(#999));
  font-weight: bold;
  color: white;
}

.crx_calendar .leftmost {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.crx_calendar .rightmost {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 0;
}

.crx_calendar .tab {
  position: absolute;
  top: 42px;
  bottom: 0;
  left: 0;
  right: 0;
}

.crx_calendar #events {
  padding: 12px;
  overflow: auto;
}

.crx_calendar .singleEvent {
  padding: 6px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: -webkit-gradient(linear, 0 30%, 0 70%, from(#fff), to(#eee));
  cursor: pointer;
  margin: 4px 0;
  text-decoration: none;
  color: black;
  display: block;
}

.crx_calendar .singleEvent:hover {
  border: 1px solid #939393;
  background: -webkit-gradient(linear, 0 30%, 0 70%, from(#d5e2ff), to(#c2d1f0));
}
