* {
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 1.4em;
  box-sizing: border-box;
}

body {
  height: 480px;
  width: 300px;
}

a[data-href="calendar_ui_url"] {
  outline: none;
}

.tabstrip {
  cursor: default;
  border-bottom: 1px solid #939393;
}

.tabstrip a {
  font-size: 10pt;
  font-weight: normal;
  padding: 3px 8px;
  display: inline-block;
  border: 1px solid #939393;
  background: -webkit-gradient(linear, 0 40%, 0 70%, from(#eee), to(#fff));
  margin-bottom: -1px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tabstrip .selected {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid white;
}

.tab-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tab {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 12px 0;
  padding: 0;
  overflow: auto;
}

.tab#agenda {
  overflow: hidden;
}

.singleEvent {
  padding: 6px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: -webkit-gradient(linear, 0 30%, 0 70%, from(#fff), to(#eee));
  cursor: pointer;
  margin: 4px 0;
  text-decoration: none;
  color: black;
  display: block;
}

.singleEvent:hover {
  border: 1px solid #939393;
  background: -webkit-gradient(linear, 0 30%, 0 70%, from(#d5e2ff), to(#c2d1f0));
}

#events img {
  max-width: 100%;
}
