* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background: #e5e5e5;
  font-size: 12px;
  height: 480px;
  overflow-y: scroll;
  width: 300px;
}

textarea {
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  padding: 4px;
}

header {
  margin-bottom: 12px;
}

.popup-title a {
  color: #333;
  font-size: 18px;
  font-weight: 100;
  outline: none;
  text-decoration: none;
}

.action-bar {
  float: right;
}

.action-bar img {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

#error {
  padding: 72px 48px;
  text-align: center;
  width: 100%;
}

#error,
#quick-add {
  display: none;
}

#event-title {
  width: 100%;
}

.quick-add-buttons {
  float: right;
}

.date-header {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 12px 0 0 0;
  padding: 4px 0;
}

.date-header:first-child,
.date-header:nth-child(2) {
  margin: 0;
}

.no-events-today {
  color: #333;
  font-size: 14px;
  font-weight: 300;
}

.event {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #333;
  font-weight: 300;
  margin: 0 0 6px 0;
  padding: 6px 0 0 0;
  position: relative;
  overflow: hidden;
}

.event .feed-color {
  bottom: 0;
  color: white;
  font-weight: bold;
  right: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 6px;
}

.event-details {
  cursor: pointer;
  margin: 0 12px 6px 12px;
  overflow: hidden;
}

.event h1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  line-height: 1;
  margin: 0 0 3px 0;
}

.event .start-and-end-times {
  color: #888;
  font-size: 12px;
  line-height: 15px;
}

.event .location {
  color: #888;
  font-size: 12px;
  line-height: 15px;
  margin-top: 3px;
}

.card-action {
  border-top: 1px solid #e5e5e5;
  margin: 0 6px;
  padding: 6px;
}

.card-action,
.card-action a {
  color: #3db5e1;
  text-decoration: none;
}

.kd-button {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image:         linear-gradient(top,#4d90fe,#4787ed);
  border-color: #3079ed;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  color: #fff;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 8px;
  text-align: center;
  -webkit-transition: all 0.218s;
          transition: all 0.218s;
}

.kd-button:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image:         linear-gradient(top,#4d90fe,#357ae8);
  border-color: #2f5bb7;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0.0s;
          transition: all 0.0s;
}

.kd-button:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.kd-button:focus {
  border: 1px solid #4d90fe;
  box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
  outline: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinning {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
