* {
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

body {
  background: #e5e5e5;
  font-size: 14px;
  height: 480px;
  overflow-y: scroll;
  width: 300px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

textarea {
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  padding: 4px;
}

header {
  height: 48px;
  background: #0086f4;
  padding: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-placeholder {
  height: 48px;
}

.fab {
  height: 42px;
  width: 42px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  transform: scale(1) rotate(360deg);
  transition: transform 150ms cubic-bezier(.4,0,1,1);
  background: #db4437;
  color: #fff;
  position: fixed;
  right: 16px;
  top: 64px;
  padding: 9px;
  z-index: 10;
}

#show_quick_add {
  transition: transform 0.2s ease-in;
}

#show_quick_add.rotated {
  transform: rotate(45deg);
}

.popup-title a {
  font-size: 16px;
  color: #fff;
  outline: none;
  line-height: 24px;
  text-decoration: none;
}

#action-bar {
  float: right;
}

#action-bar img {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin: 0 2px;
}

#announcement_new_features {
  background: #fff;
  color: #333;
  display: none;
  padding: 8px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 8px;
}

#info_bar {
  background: #ffdbdd;
  color: #000;
  display: none;
  padding: 8px;
  width: 100%;
  margin-bottom: 8px;
}

section {
  padding: 0 8px;
}

#error {
  padding: 72px 12px;
  text-align: center;
  width: 100%;
}

#error p {
  margin-bottom: 36px;
}

#error,
#quick-add {
  display: none;
}

#authorization_required {
  cursor: pointer;
}

#quick-add {
  background: #fff;
  margin: 8px 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

h2 {
  margin: 8px 0;
  font-size: 14pt;
  font-weight: normal;
}

#quick-add-event-title {
  width: 100%;
}

.quick-add-buttons {
  text-align: right;
}

#quick-add-calendar-list {
  width: 100%;
  font-size: 16px;
  margin: 4px 0;
}

.date-header {
  color: #666;
  font-size: 16px;
  margin: 16px 0 4px 0;
  padding: 4px 0;
}

.no-events-today {
  color: #333;
  font-size: 14px;
}

.event {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  color: #333;
  cursor: pointer;
  display: flex;
  margin: 0 0 4px 0;
  overflow: hidden;
  position: relative;
}

.start-time {
  color: #fff;
  flex: 0 0 66px;
  font-size: 12px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.start-and-end-times {
  color: #888;
  font-size: 12px;
  margin-top: 3px;
}

.detected-event .start-time {
  background-color: #fff;
  text-align: left;
}

.detected-event .start-time img {
  margin: 6px 18px;
}

.event-details {
  flex: 1;
  overflow: hidden;
}

.start-time,
.event-details {
  margin: 0;
  padding: 6px;
}

.event-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-title.declined {
  text-decoration: line-through;
  color: #999;
}

.start-time,
.event-title {
  line-height: 16px;
  vertical-align: text-bottom;
}

.all-day:not(.detected-event) .start-time {
  flex-basis: 6px;
  padding: 0;
}

.all-day:not(.detected-event) .event-details {
  padding-top: 4px;
  padding-bottom: 4px;
}

.all-day:not(.detected-event) .event-title {
  font-size: 13px;
}

.location-icon,
.video-call-icon {
  float: right;
  height: 15px;
  padding: 0 3px;
  width: 21px;
}

.button {
  background: #0086f4;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 18px;
  min-width: 64px;
  margin: 4px 0 0 0;
  padding: 6px 32px;
  text-align: center;
  -webkit-transition: all 0.218s;
          transition: all 0.218s;
}

.button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.button:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.button:focus {
  box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
  outline: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinning {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
