* {
  font-family: system-ui,sans-serif;
  font-size: 11pt;
  color: #333;
}

html {
  margin: 12px 0 0 155px;
  min-width: 576px;
  max-width: 738px;
}

article + article {
  margin: 36px 0 0 0;
}

code {
  font: 10pt monospace;
  background: #efefef;
  border-radius: 3px;
  padding: 2px 4px;
}

h1 {
  font-size: 14pt;
  font-weight: normal;
  margin: 12px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #efefef;
}

h2 {
  font-weight: normal;
  font-size: 1.2em;
}

section {
  margin-left: 18px;
}

label {
  display: block;
  margin: 6px 0;
}

.secondary {
  color: #979CA0;
}

.calendar-checkbox {
  -webkit-appearance: none;
  vertical-align: middle;
  border-radius: 2px;
  height: 14px;
  width: 14px;
}
